# Visual Studio user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# OS or IDE generated
*.DS_Store
Thumbs.db

# Python virtual environment
auth_service/venv
